@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  @apply flex flex-col min-h-screen w-full bg-[#F5F2F2]
}

/* primary button */
.primary-btn{
  @apply bg-[#001BB7] text-white rounded-lg font-semibold;
}
/* //Navbar content */
.navbar-wrapper {
  @apply flex items-center w-full  text-[#111827]  h-16 bg-white border-b border-gray-300;

  .navbar{
    @apply flex items-center w-full max-w-7xl mx-auto
  }
  .nav-links{
    @apply flex items-center justify-end ml-auto w-full max-w-sm;

    li{
      @apply flex-1 flex items-center justify-center p-2;
    }
  }
}

/* Headings content */

.headings{
  @apply bg-[#001BB7] w-full max-w-7xl mx-auto rounded-lg h-[450px] flex flex-col items-center justify-center gap-6 bg-cover bg-center bg-no-repeat p-8 text-center;
}


/* Section content */

.section{
  @apply w-full max-w-7xl py-12;
}

/* Login content */

.login{
  @apply bg-white flex flex-col  justify-center items-center w-full max-w-sm p-4 rounded-lg shadow-lg gap-2;

  .login-input{
    @apply flex flex-col w-full gap-2
  }

  input{
    @apply border border-gray-300 rounded-md p-2
  }

  .login-btn{
    @apply bg-[#001BB7] w-full text-white p-2 shadow-[#001BB7] shadow rounded-md
  }
}

/* Sidebar content */

.sidebar{
  @apply flex flex-col items-start w-full max-w-56 bg-white p-4 border-r border-r-gray-300;

  ul{
    @apply mt-8
  }

  li{
    @apply flex items-center gap-1;
  }
}

/* Dashboard stats */

.dashboard-stats{
  @apply w-full p-8 flex flex-col gap-8;

  button{
    @apply rounded-md py-1 px-2 border border-gray-300 text-sm  font-semibold;
  }

  .stats-card{
    @apply bg-white rounded-lg p-4 border border-gray-300 shadow
  }
}

/* Recent Activity */

.recent-activity{
  @apply flex flex-col w-full;

  th{
    @apply text-gray-500 px-5 py-4 font-medium ;
  }

  td{
    @apply px-5 py-2 border-b border-y border-gray-300
  }
}

.quick-draft{
  @apply w-full max-w-sm flex flex-col;
  
  h2{
    @apply mb-4 text-2xl font-semibold;
  }
  form{
    @apply bg-white p-8 rounded-md border border-gray-300
  }

  .input-field{
    @apply flex flex-col gap-2 mb-2;

    label{
      @apply text-sm font-semibold text-gray-600
    }

    input,textarea{
      @apply p-2 bg-gray-200 rounded-md;
    }
  }

  button{
    @apply bg-[#001BB7] w-full text-white font-semibold p-2 rounded-md mt-4
  }
}