@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  @apply flex flex-col min-h-screen w-full bg-[#F5F2F2]
}

/* primary button */
.primary-btn{
  @apply bg-[#001BB7] text-white rounded-lg font-semibold;
}
/* //Navbar content */
.navbar-wrapper {
  @apply flex items-center w-full  text-[#111827]  h-16 bg-white border-b border-gray-300;
 
  .navbar{
    @apply flex items-center w-full max-w-7xl mx-auto
  }
  .nav-links{
    @apply flex items-center justify-end ml-auto w-full max-w-sm;

    li{
      @apply flex-1 flex items-center justify-center p-2;
    }
  }
}

/* Headings content */

.headings{
  @apply bg-[#001BB7] w-full max-w-7xl mx-auto rounded-lg h-[450px] flex flex-col items-center justify-center gap-6 bg-cover mt-12 bg-center bg-no-repeat p-8 text-center;
}


/* Section content */

.section{
  @apply w-full mx-auto max-w-7xl py-12;
}


/* Post Card */

.post-card{
  @apply flex flex-col rounded-md shadow-md min-h-96 overflow-hidden;
}

.post-card-description{
  @apply p-4 flex flex-col flex-1;

  .title{
    @apply text-2xl font-semibold;
  }

  .content{
    @apply text-gray-600;
  }

  .pf-image{
    @apply h-full w-full;
  }

  .profile-info{
    @apply flex  items-center justify-between mt-auto; 
  }
}

/* Login content */
.login-container{
  @apply h-full w-full my-auto flex justify-center items-center;
}
.login{
  @apply bg-white flex flex-col  justify-center items-center w-full max-w-sm p-4 rounded-lg shadow-lg gap-2;

  .login-input{
    @apply flex flex-col w-full gap-2
  }

  input{
    @apply border border-gray-300 rounded-md p-2
  }

  .login-btn{
    @apply bg-[#001BB7] w-full text-white p-2 shadow-[#001BB7] shadow rounded-md
  }
}

/* Sidebar content */

.sidebar{
  

  ul{
    @apply mt-8 
  }

  li{
    @apply flex items-center gap-1 my-2;
  }
}

/* Dashboard stats */

.dashboard-stats{
  @apply w-full p-8 flex flex-col gap-8 ;

  button{
    @apply rounded-md py-1 px-2 border border-gray-300 text-sm  font-semibold;
  }

  .stats-card{
    @apply bg-white rounded-lg p-4 border border-gray-300 shadow
  }
}

/* Recent Activity */

.recent-activity{
  @apply flex flex-col w-full ;

  th{
    @apply text-gray-500 px-5 py-4 font-medium ;
  }

  td{
    @apply px-5 py-2 border-b border-y border-gray-300
  }
}

.quick-draft{
  @apply w-full max-w-sm flex flex-col;
  
  h2{
    @apply mb-4 text-2xl font-semibold;
  }
  form{
    @apply bg-white p-8 rounded-md border border-gray-300 shadow;
  }

  .input-field{
    @apply flex flex-col gap-2 mb-2;

    label{
      @apply text-sm font-semibold text-gray-600
    }

    input,textarea{
      @apply p-2 bg-gray-200 rounded-md;
    }
  }

  button{
    @apply bg-[#001BB7] w-full text-white font-semibold p-2 rounded-md mt-4
  }
}

/* Post section */
.manage-posts{
  @apply p-8  flex flex-col h-full w-full;

  .heading{
    @apply w-full flex items-center;

    h2{
      @apply text-2xl font-semibold;
    }

    p{
      @apply text-gray-500
    }

    .create-post{
      @apply ml-auto max-w-32 w-full inline-flex place-items-center place-content-center gap-1 bg-[#001BB7] rounded-md text-white p-2
    }
  }

  .posts-nav{
    @apply w-full flex items-center bg-white p-2 rounded-md shadow border border-gray-300 my-8;

    button{
      @apply flex-1 flex items-center justify-center py-2 gap-1 text-sm;

      span{
        @apply bg-gray-200 px-2 w-6 flex items-center justify-center rounded-full text-xs;
      }
    }
    .search{
      @apply ml-auto inline-flex place-items-center  relative rounded-md border border-gray-300 text-gray-500;

      input{
        @apply bg-[#F5F2F2] outline-1 outline-gray-500 rounded-md pl-6 py-1;
      }
    }
  }
    th{
    @apply text-gray-500 px-5 py-4 font-medium ;
  }

  td{
    @apply px-5 py-2 border-b border-y border-gray-300
  }


}

  /* Create Post */

.post-form{
  @apply flex w-full h-full p-8;


  form{
    @apply flex gap-4 w-full max-w-7xl mx-auto ;
  }
  input,textarea{
    @apply bg-transparent outline-none
  }

  input{
    @apply text-5xl w-full
  } 
  textarea{
    @apply h-96 w-full resize-none overflow-hidden;
  }

  .post-setting{
    @apply flex flex-col w-64 max-h-[450px] bg-white p-4 rounded-md border-gray-300 border;
  }

  .preview-image{
    @apply  border-2 rounded-md border-dashed flex items-center justify-center h-40 text-gray-500  text-lg;
    
  }

  .upload-content{
    @apply flex flex-col items-center gap-2;
  }

  .preview-img{
    @apply w-full h-full object-cover rounded-lg;
  }

  .tags{
    @apply text-base border border-gray-300 rounded-md p-2;
  }

  .published-btn{
     @apply mt-auto w-full inline-flex place-items-center place-content-center gap-1 bg-[#001BB7] rounded-md text-white p-2
  }
}

.pagination {
  @apply flex w-full p-4 justify-between;

  .btns{
    @apply flex gap-2
  }
}

  .user-comment {
    @apply flex mt-8;
  }

 

